body {
    background-color: #494f5c;
}

#home-subtitle {
    margin-top: 20px !important;
}

@media (max-width: 992px) {
    main {
        margin-top: 100px !important;
    }
}

.main-title-paragraph {
    visibility: hidden; 
    position: fixed;
}

.pagination {
    margin-top: 20px;
    justify-content: center;
}

.pagination__item {
   display: inline-block;
   padding: 10px 15px;
    font-weight: 700;
    color: #000;
    background: #c6c6c7
}

.pagination__item:hover, .pagination__item--current {
   color: #fff;
   background: #535e75
}  

.bg-img {
    z-index: 0 !important;
    opacity: 0.18 !important;
}
