{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner thin animated fadeIn faster">
		<h1>{{ .Title }}</h1>
		<br/>
		<ins class="adsbygoogle"
			style="display:block; text-align:center;"
			data-ad-layout="in-article"
			data-ad-format="fluid"
			data-ad-client="ca-pub-8567722160341015"
			data-ad-slot="9982248954"></ins>
		<br/>
		{{- if .Content }}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}
		{{- range (.Paginate .Pages).Pages.GroupByDate "2006" }}
		<div class="posts-group">
			<div class="post-year" id="{{ .Key }}">{{.Key}}</div>
			<ul class="posts-list">
				{{- range .Pages }}
				<li class="post-item">
					<a href="{{.Permalink}}">
						<span class="post-title">{{.Title}}</span>
						<span class="post-day">{{ .Date.Format .Site.Params.dateformShort }}</span>
					</a>
				</li>
				{{- end }}
			</ul>
		</div>
		{{- end }}
		{{- partial "pagination.html" . }}
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
